body {
    padding: 50px;
    font-family: 'Gugi', cursive;
    
}

footer {
      display: flex;
    min-height: 20vh;
    flex-direction: column;
   
}
a {
    color: #00B7FF;
}
.align {
    display: flex;
    justify-content: center;
}