<form method="POST" action="/{{this._id}}/brainstorming">

    <label for="Title">Title:</label>
    <input name="Title">
    <br />
    <label for="Description">Description:</label>
    <input name="Description">
    <br />
    <label for="Timestamp">{{Date}}:</label>
    <input name="Timestamp">
    <br />
    <div>
        <input type="submit" class="waves-effect waves-light
        btn-small" value="Add a New Brainstorm">
    </div>
</form>