<form method="POST" action="/{{this._id}}/projects/">

    <label for="Title">Title:</label>
    <input name="Title">
    <br />
    <label for="Description">Description:</label>
    <input name="Description">
    <br />
    <label for="Priority">Priority:</label>
    <input name="Priority">
    <br />
    <label for="Timestamp">Date:</label>
    <input name="Timestamp">
    <br />
    


    <div>
        <input type="submit" value="Add a New Project">
    </div>
</form>