<form method="POST" action="/">

    <label for="Username">Username:</label>
    <input name="Username">
    <br />
    <label for="E-mail">E-mail:</label>
    <input name="E-mail">
<br />
    <div>
        <input type="submit" value="Add a New User">
    </div>
</form>